.hero {
  background-image: url("../images/bg-desktop.svg");
  background-position: left;
  background-size: contain;
  background-color: var(--color-primary-dark);
  min-height: 100vh;
  width: 100%;
  padding: 3.375rem 4.5625rem 2.5rem 4.5625rem;
  overflow: hidden;
}

.hero__logo {
  width: 13.4375rem;
  margin-bottom: 5.375rem;
}

.hero__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 1.3125rem;
}

.hero__illustration {
  display: block;
  width: 44.3125rem;
  margin-right: 3.25rem;
}

.hero__header {
  font-size: 2.5rem;
  letter-spacing: -0.0131578947368421rem;
  line-height: 1.49;
  margin-top: 2.6875rem;
  margin-bottom: 1.25rem;
}

.hero__description {
  font-size: 1.125rem;
  max-width: 98%;
  margin-bottom: 1.5625rem;
}

.hero__register-button {
  font-family: inherit;
  font-size: 1.125rem;
  letter-spacing: 0.03125rem;
  color: var(--color-primary-dark);
  background-color: hsl(0, 0%, 100%);
  height: 3.5rem;
  width: 12.5rem;
  border-radius: 6.25rem;
  border: none;
  box-shadow: 0.25rem 0.25rem 0.9375rem rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: 
    color 0.2s ease-in-out,
    background-color 0.25s ease-in-out;
}

.hero__register-button:hover,
.hero__register-button:focus-within {
  color: hsl(0, 0%, 100%);
  background-color: var(--color-primary-light);
}

.hero__social-links {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  width: fit-content;
  margin-left: auto;
}

.hero__social-links-item {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  font-size: 1.125rem;  
  width: 2.5rem;
  height: 2.5rem;
  border: 0.0625rem solid white;
  border-radius: 50%;
  margin-left: 1rem;
  cursor: pointer;
  transition: background-color 0.15s ease-in-out;
}

.hero__social-links-item:last-child {
  font-size: 1.25rem;
}

.hero__social-links-item > a {
  color: white;
  transition: color 0.15s ease-in-out;
}

.hero__social-links-item:hover,
.hero__social-links-item:focus-within {
  border-color: var(--color-primary-light);
}

.hero__social-links-item:hover > a, 
.hero__social-links-item:focus-within > a {
  color: var(--color-primary-light);
}

@media (max-width: 1345px) {
  .hero__illustration {
    width: 40rem;
  }
}

@media (max-width: 1320px) {
  .hero__content {
    align-items: center;
  }

  .hero__illustration {
    width: 40rem;
  }

  .hero__header {
    margin-top: 0;
  }

  
}

@media (max-width: 830px) {
  .hero {
    background-image: url("../images/bg-mobile.svg");
  }

  .hero__content {
    flex-direction: column;
    text-align: center;
  }
}