.hero {
  display: flex;
  flex-direction: column;
  background-image: url("../images/bg-desktop.svg");
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
  padding: 3.375rem 4.5625rem 2.5rem 4.5625rem;
  overflow: hidden;
}

.hero__logo {
  object-fit: cover;
  position: relative;
  left: -0.1875rem;
  width: 13.4375rem;
  height: 3.25rem;
  margin-bottom: 5.4375rem;
}

.hero__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 80.875rem;
  margin: 0 auto 1.3125rem auto;
}

.hero__illustration {
  display: block;
  width: 44.3125rem;
  margin-right: 3.25rem;
}

.hero__content > div {
  max-width: 33.3125rem;
}

.hero__header {
  font-size: 2.5rem;
  letter-spacing: -0.0131578947368421rem;
  line-height: 1.5;
  margin-top: 2.6875rem;
  margin-bottom: 1.1875rem;
}

.hero__description {
  font-size: 1.125rem;
  max-width: 98%;
  margin-bottom: 1.5625rem;
}

.hero__register-button {
  font-family: inherit;
  font-size: 1.125rem;
  letter-spacing: 0.03125rem;
  color: var(--color-primary-dark);
  background-color: hsl(0, 0%, 100%);
  height: 3.5rem;
  width: 12.5rem;
  padding-top: 0.125rem;
  border-radius: 6.25rem;
  border: none;
  box-shadow: 0.25rem 0.25rem 0.9375rem rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: 
    color 0.2s ease-in-out,
    background-color 0.25s ease-in-out;
}

.hero__register-button:hover,
.hero__register-button:focus-within {
  color: hsl(0, 0%, 100%);
  background-color: var(--color-primary-light);
}

.hero__social-links {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  width: fit-content;
  margin-left: auto;
}

.hero__social-links-item {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  font-size: 1.125rem;  
  width: 2.5rem;
  height: 2.5rem;
  border: 0.0625rem solid white;
  border-radius: 50%;
  margin-left: 1rem;
  cursor: pointer;
  transition: background-color 0.15s ease-in-out;
}

.hero__social-links-item:last-child {
  font-size: 1.25rem;
}

.hero__social-links-item > a {
  color: white;
  transition: color 0.15s ease-in-out;
}

.hero__social-links-item:hover,
.hero__social-links-item:focus-within {
  border-color: var(--color-primary-light);
}

.hero__social-links-item:hover > a, 
.hero__social-links-item:focus-within > a {
  color: var(--color-primary-light);
}

@media (max-width: 1345px) {
  .hero__illustration {
    width: 40rem;
  }

  .hero__description {
    max-width: none;
  }
}

@media (max-width: 1320px) {
  .hero {
    background-size: cover;
  }

  .hero__content {
    align-items: center;
  }

  .hero__illustration {
    width: 38rem;
  }

  .hero__header {
    margin-top: 0;
  }
}

@media (max-width: 1245px) {
  .hero {
    justify-content: space-between;
  }

  .hero__illustration {
    width: 33rem;
  }

  .hero__header {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .hero__description {
    font-size: 1.075rem;
    margin-bottom: 1.125rem;
  }

  .hero__register-button {
    font-size: 1.075rem;
    height: 3rem;
  }
}

@media (max-width: 1000px) {
  .hero__content {
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-bottom: 0;
  }

  .hero__illustration {
    margin: 0 0 3.75rem 0;
  }

  .hero__description {
    margin: 0;
  }

  .hero__register-button {
    margin: 1.75rem 0 3.25rem 0;
  }
}

@media (max-width: 685px) {
  .hero {
    padding: 1.75rem 2.375rem 2.625rem 2.375rem;
  }

  .hero__logo {
    width: 12rem;
    height: auto;
  }

  .hero__illustration {
    width: 30rem;
  }
}

@media (max-width: 550px) {
  .hero {
    background-image: url("../images/bg-mobile.svg");
    background-size: contain;
    background-position: top;
  }

  .hero__logo {
    width: 8rem;
    margin-bottom: 4rem;
  }

  .hero__illustration {
    width: 100%;
  }

  .hero__header {
    font-size: 1.5rem;
  }

  .hero__description {
    font-size: 1rem;
  }

  .hero__register-button {
    font-size: 0.75rem;
    height: 2.5rem;
    margin: 1.75rem 0 3.25rem 0;
  }

  .hero__social-links {
    justify-content: space-between;
    width: 7.5rem;
    margin: 0 auto;
  }

  .hero__social-links-item {
    font-size: 0.75rem;
    width: 2rem;
    height: 2rem;
    margin: 0;
  }

  .hero__social-links-item:last-child {
    font-size: 1rem;
  }
}